* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth ;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --black-900: #878e99;
    --black-800: #32363b;
    --black-700: #c4cfde;
    --black-600: #15171b;
    --body: #212428;
    --red-900: #ff014f;
    --shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --main-font: 'Montserrat';
    --Poppins: 'Poppins';
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.w-50 {
    width: 50%;
}
.overflow-y{
    overflow-y: scroll;
}

.line {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 0 0 0;
}

.line1 {
    width: 100%;
    border-bottom: 1px solid var(--black-600);
    margin: 20px 0;
}

.line2 {
    width: 100%;
    border-bottom: 1px solid var(--black-600);
    margin: 80px 0 20px 0;
}

.box {
    width: 50px;
    height: 50px;
    background-color: var(--black-600);
    box-shadow: var(--shadow);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: var(--red-900);
    bottom: 30px;
    left: auto;
    right: 30px;
    z-index: 999999!important;
    display: none;

}
.padding{
    padding: 0!important;
}

.toggle{
    color: #c4cfde;
    font-size: 20px;
    width: 100%;
    background-color:transparent;
    scroll-behavior: smooth ;
    text-align: end;
}
.setting{
    position: fixed;
    top: 100px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--body);
    color: var(--black-700);
    box-shadow: var(--shadow);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50% 50% 0 0;
    z-index: 99999 ;
}
.switch{
    position: fixed;
    top: 140px;
    right: 20px;
    width: 40px;
    height: 120px;
    background-color: var(--black-800);
    color: var(--black-700);
    box-shadow: var(--shadow);
    line-height: 40px;
    font-size: 20px;
    border-radius: 0 0 30px 30px;
    display: none;
    z-index: 99999 ;
}
.round1,
.round2,
.round3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff014f;
    margin: 5px 0;
}
.round2{
    background-color: #F08080;
}
.round3{
    background-color: #DAA520	;
}